.card-img-top {
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}